// 변수 사용하기
$red: #fa5252;
$orange: orange;
$yellow: yellow;
$green: green;
$blue: blue;
$indigo: indigo;
$violet: violet;

// 믹스인 만들기(재사용되는 스타일 블록을 함수처럼 사용할 수 있다)
@mixin square($size) {
    $calculated: 32px * $size;
    width: $calculated;
    height: $calculated;
}

.SassComponent {
    display: flex;
    .box {
        background-color: $red;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &.red{
            background-color: $red;
            @include square(1);
        }
        &.orange{
            background-color: $red;
            @include square(2);
        }
        &.yellow{
            background-color: $yellow;
            @include square(3);
        }
        &.green{
            background-color: $green;
            @include square(4);
        }
        &.blue{
            background-color: $blue;
            @include square(5);
        }
        &.indigo{
            background-color: $indigo;
            @include square(6);
        }
        &.violet{
            background-color: $violet;
            @include square(7);
        }
        &:hover {
            background-color: black;
        }
    }
}